<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>it.cloudicaro.disit.kb.ApplicationConfig</param-value>
        </init-param>
        <init-param>
            <description>Multiple packages, separated by semicolon(;), can be specified in param-value</description>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>it.cloudicaro.disit.kb</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Sparql</servlet-name>
        <servlet-class>it.cloudicaro.disit.servlet.kb.SparqlProxy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recover</servlet-name>
        <servlet-class>it.cloudicaro.disit.servlet.kb.RecoverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sparql</servlet-name>
        <url-pattern>/sparql/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recover</servlet-name>
        <url-pattern>/recover</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>ReadAccess</display-name>
        <web-resource-collection>
            <web-resource-name>kb</web-resource-name>
            <description/>
            <url-pattern>/api/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>sparql</web-resource-name>
            <description/>
            <url-pattern>/sparql/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ICAROKB_READ</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ReadWriteAccess</display-name>
        <web-resource-collection>
            <web-resource-name>kb</web-resource-name>
            <description/>
            <url-pattern>/api/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ICAROKB_READWRITE</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>kb_icaro</realm-name>
    </login-config>
    <security-role>
        <description>Read acces to KB</description>
        <role-name>ICAROKB_READ</role-name>
    </security-role>
    <security-role>
        <description>Read/Write access to KB</description>
        <role-name>ICAROKB_READWRITE</role-name>
    </security-role>
</web-app>
